<a href="https://colab.research.google.com/github/Soumee06/Python_assignments_week2-3-4/blob/main/Python_initials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Defining a Function**

In [1]:
def Simple_interest(p,r,t):
  return (p*r*t/100)

In [2]:
Simple_interest(100,4,5)

20.0

In [4]:
def Office(val1,val2):
  return val1+val2

In [5]:
Office(2,3) #we can add two integers

5

In [6]:
Office("Cognizant","Technology Solutions") #here we can add two strings

'CognizantTechnology Solutions'

In [7]:
Office("Cognizant",2) #here we are adding a string with an integer . This is not justified as we can only add similar datatypes in python function

TypeError: ignored

In [8]:
file1 = open('service_based.txt', 'wt') # read/write/append , text mode or binary mode
file1.write(Office("CTS","TCS")) #writing in the file
file1.close() #closing the file

In [11]:
file1

**Getting a dataset**

In [12]:
!wget https://raw.githubusercontent.com/a-forty-two/CGI-DPplusPy/main/breastcancer_data.csv

--2022-09-07 06:19:28--  https://raw.githubusercontent.com/a-forty-two/CGI-DPplusPy/main/breastcancer_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80005 (78K) [text/plain]
Saving to: ‘breastcancer_data.csv’

breastcancer_data.c 100%[===================>]  78.13K  --.-KB/s    in 0.01s

2022-09-07 06:19:28 (5.93 MB/s) - ‘breastcancer_data.csv’ saved [80005/80005]

In [13]:
!ls #returns the list of the file names and directories

breastcancer_data.csv  sample_data  service_based.txt

**PANDAS : A-Z**

In [14]:
#importing pandas library
import pandas as pd

In [16]:
df = pd.read_csv('breastcancer_data.csv', header=0) #reading the file

In [17]:
df.head(5) #reading the first 5 rows

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.2419,0.07871
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.1812,0.05667
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.2069,0.05999
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.2597,0.09744
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.1809,0.05883

In [18]:
df["diagnosis"] #checking te info about the column diagonosis

0       M
1       M
2       M
3       M
4       M
       ..
1133    M
1134    M
1135    M
1136    M
1137    B
Name: diagnosis, Length: 1138, dtype: object

In [19]:
#Creating a list
list=[6,"Harry Potter", "cmbyn",True]

In [20]:
list

[6, 'Harry Potter', 'cmbyn', True]

In [21]:
#calling the 2nd element of the list
list[1]

'Harry Potter'

In [22]:
#negative indexing
list[-1]

True

In [23]:
listb=["number","book","movie","bool"]

In [24]:
#concat two list
lsc=[listb,list]

In [25]:
lsc

[['number', 'book', 'movie', 'bool'], [6, 'Harry Potter', 'cmbyn', True]]

In [26]:
lsc[1]

[6, 'Harry Potter', 'cmbyn', True]

In [27]:
lsc[1][2]

'cmbyn'

In [28]:
credit = [ 1, 2, 2, 1, 'sbi', "axis", False, 2.34, 'fraud']
# creating a set to get all the unique values
set1 = set(credit)
set1

{1, 2, 2.34, False, 'axis', 'fraud', 'sbi'}

In [29]:
set1[3] #we cant call a set object

TypeError: ignored

**creating a tuple**

In [31]:
t=(2,3,4) #tuple is read only it cannot be modified

In [32]:
del t[1] #'tuple' object doesn't support item deletion
#major difference between list and tuple is that one is iterable other is not.

TypeError: ignored

In [33]:
list.append(2) #an element is added to the list using append method

In [34]:
list

[6, 'Harry Potter', 'cmbyn', True, 2]

In [35]:
t.append(2) #a tuple has no such method as append

AttributeError: ignored

**Dictionary**

In [36]:
dict = {1:"hello", 2:"World", 3:"is", 4:'ending'}
# key:value pairs
dict[2]#INDEXED!

'World'

In [37]:
dict

{1: 'hello', 2: 'World', 3: 'is', 4: 'ending'}

In [38]:
dict[-1]

KeyError: ignored

In [40]:
dict.get(4)

'ending'

**dEFINING A FUNCTION**

In [41]:
def amount(p,r,t):
  return (p+p*r*t/100)

In [42]:
amount(100,4,5)

120.0

In [43]:
# lambda function -> anonymous functions 

# meter = 100 cm
# variable = lambda <input>: what happens with input!
convert_to_cm = lambda x: x*100
convert_to_cm(5)

500

In [44]:
# y^2 = 4ab
y = lambda a,b: a*b
y(5,4)

20

In [45]:
# for var in list-> var will iterate through the provided list!
for i in [5,10,15,20,25]:
  print(i)

5
10
15
20
25

In [47]:
count = len(list) -1
while(count>=0):
  print(list[count])
  count = count - 1

2
True
cmbyn
Harry Potter
6

In [52]:
randomvalues = [ str(i)+'Breaking Bad' for i in list]
randomvalues

['6Breaking Bad',
 'Harry PotterBreaking Bad',
 'cmbynBreaking Bad',
 'TrueBreaking Bad',
 '2Breaking Bad']

In [53]:
# squares of all numbers between 1 to 10
base = [ i for i in range(10)]
base

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
#squares of numbers between 1 and 10
for i in range(10):
  print( i*i)

0
1
4
9
16
25
36
49
64
81

In [56]:
def power(y):
  return lambda x: x**y 
squares = power(2) # lambda x,2: x**2
cube = power(3) # lambda x,3: x**3

In [58]:
squares(2)

4

In [59]:
cube(3)

27

**Class**

**The class is a user-defined data structure that binds the data members and methods into a single unit. Class is a blueprint or code template for object creation. Using a class, you can create as many objects as you want.**

**Object: An object is an instance of a class. It is a collection of attributes (variables) and methods.**

In [60]:
class myclass:
  def salutation(): #this function will NOT be a part of my classes
    return 'bye bye'
  def salutation1(this): # this function will be a part of my class
    return 'yoo hoo'

In [63]:
obj = myclass() # new objects 
print(obj.salutation()) # this should not work
print(obj.salutation1()) # this should work

TypeError: ignored

In [74]:
class credit_card:
  def __init__(this):
    this.name = "Soumee"
    this.age = 23
    this.emp_id= 2211444
    this.active = True
  def setNewProperties(this, name, age):
    this.name = name
    this.age = age
  def getCredit_cardProperties(this):
    return this.name,this.age, this.emp_id, ("active" if this.active==True else "inactive")

In [75]:
details = credit_card()
details.getCredit_cardProperties()

('Soumee', 23, 2211444, 'active')

In [76]:
class AP:
  def __iter__(self):
    self.base = -1
    self.step = 2
    return self
  def __next__(self):
    self.base = self.base + self.step
    return self.base

In [77]:
obj = AP()
i = iter(obj)

In [78]:
for j in range(10):
  print(next(i))

1
3
5
7
9
11
13
15
17
19

**Pandas**

In [79]:
#creating a dataset using list
id=[12,13,14,15,16,17,18,19,20,21]
name = ['John','Paul','John','Paul','John','Paul','John','Paul','Rattatoo','Jojo']

# DataFrame
import pandas as pd # panel dataframes
df = pd.DataFrame(
    {'id':id,
    'name':name}
)

In [81]:
df.loc[ 1:6, ['id']] # SLICING and DICING datasets!

   id
1  13
2  14
3  15
4  16
5  17
6  18

In [82]:
df.iloc[ 2:5, [1]]

   name
2  John
3  Paul
4  John

In [83]:
df.iloc[:6, :]

   id  name
0  12  John
1  13  Paul
2  14  John
3  15  Paul
4  16  John
5  17  Paul

In [84]:
df = pd.read_csv('https://raw.githubusercontent.com/a-forty-two/CGI-DPplusPy/main/breastcancer_data.csv', header=0)

In [85]:
df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.2419,0.07871
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.1812,0.05667
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.2069,0.05999
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.2597,0.09744
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.1809,0.05883

In [86]:
df.tail()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
1133,93316,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.1726,0.05623
1134,93317,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.1752,0.05533
1135,93318,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.1590,0.05648
1136,93319,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.2397,0.07016
1137,93320,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.1587,0.05884

In [87]:
df.info() #givesinformation about the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1138 entries, 0 to 1137
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1138 non-null   int64
 1   diagnosis               1138 non-null   object
 2   radius_mean             1138 non-null   float64
 3   texture_mean            1138 non-null   float64
 4   perimeter_mean          1138 non-null   float64
 5   area_mean               1138 non-null   float64
 6   smoothness_mean         1138 non-null   float64
 7   compactness_mean        1138 non-null   float64
 8   concavity_mean          1138 non-null   float64
 9   symmetry_mean           1138 non-null   float64
 10  fractal_dimension_mean  1138 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 97.9+ KB

In [88]:
print(dir(df))

['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_REVERSED', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_by_level', '_agg_examples_doc', '_agg_summary_and_see_also_doc', '_align_frame', '_align_series', '_arith_method', '_as_manager', '_attrs', '_box_col_values', '_can_fast_transpose', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_combine_frame', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_from_arguments', '_construct_result', '_constructor', '_constructor_sliced', '_convert', '_count_level', '_data', '_dir_additions', '_dir_deletions', '_dispatch_frame_op', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_flags', '_from_arrays', '_from_mgr', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cleaned_column_resolvers', '_get_column_array', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_getitem_bool_array', '_getitem_multilevel', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_copy', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_iset_item', '_iset_item_mgr', '_iset_not_inplace', '_item_cache', '_iter_column_arrays', '_ixs', '_join_compat', '_logical_func', '_logical_method', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_mgr', '_min_count_stat_function', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_replace_columnwise', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_series', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_item', '_set_item_frame_value', '_set_item_mgr', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_to_dict_of_blocks', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'applymap', 'area_mean', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'compactness_mean', 'compare', 'concavity_mean', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diagnosis', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'fractal_dimension_mean', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'id', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isin', 'isna', 'isnull', 'items', 'iteritems', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lookup', 'lt', 'mad', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'perimeter_mean', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'radius_mean', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'smoothness_mean', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'symmetry_mean', 'tail', 'take', 'texture_mean', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'values', 'var', 'where', 'xs']

In [91]:
# key_value pairs of the object!!!!
s = open('fraud.txt','wt')
print(s.__dict__) # dictionary!!!

{'mode': 'wt'}

In [92]:
print(dir(s))

['_CHUNK_SIZE', '__class__', '__del__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '_checkClosed', '_checkReadable', '_checkSeekable', '_checkWritable', '_finalizing', 'buffer', 'close', 'closed', 'detach', 'encoding', 'errors', 'fileno', 'flush', 'isatty', 'line_buffering', 'mode', 'name', 'newlines', 'read', 'readable', 'readline', 'readlines', 'reconfigure', 'seek', 'seekable', 'tell', 'truncate', 'writable', 'write', 'write_through', 'writelines']

In [94]:
df.describe()

,id,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
count,1.138000e+03,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000
mean,1.523243e+07,14.127292,19.289649,91.969033,654.889104,0.096360,0.104341,0.088799,0.181162,0.062798
std,8.965268e+07,3.522499,4.299144,24.288293,351.759340,0.014058,0.052790,0.079685,0.027402,0.007057
min,8.670000e+03,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.106000,0.049960
25%,9.299525e+04,11.700000,16.170000,75.170000,420.300000,0.086370,0.064920,0.029560,0.161900,0.057700
50%,9.327950e+04,13.370000,18.840000,86.240000,551.100000,0.095870,0.092630,0.061540,0.179200,0.061540
75%,9.060125e+05,15.780000,21.800000,104.100000,782.700000,0.105300,0.130400,0.130700,0.195700,0.066120
max,9.113205e+08,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.304000,0.097440

In [95]:
df.describe().T #tranposing

,count,mean,std,min,25%,50%,75%,max
id,1138.0,1.523243e+07,8.965268e+07,8670.00000,92995.25000,93279.50000,906012.50000,9.113205e+08
radius_mean,1138.0,1.412729e+01,3.522499e+00,6.98100,11.70000,13.37000,15.78000,2.811000e+01
texture_mean,1138.0,1.928965e+01,4.299144e+00,9.71000,16.17000,18.84000,21.80000,3.928000e+01
perimeter_mean,1138.0,9.196903e+01,2.428829e+01,43.79000,75.17000,86.24000,104.10000,1.885000e+02
area_mean,1138.0,6.548891e+02,3.517593e+02,143.50000,420.30000,551.10000,782.70000,2.501000e+03
smoothness_mean,1138.0,9.636028e-02,1.405794e-02,0.05263,0.08637,0.09587,0.10530,1.634000e-01
compactness_mean,1138.0,1.043410e-01,5.278953e-02,0.01938,0.06492,0.09263,0.13040,3.454000e-01
concavity_mean,1138.0,8.879932e-02,7.968474e-02,0.00000,0.02956,0.06154,0.13070,4.268000e-01
symmetry_mean,1138.0,1.811619e-01,2.740222e-02,0.10600,0.16190,0.17920,0.19570,3.040000e-01
fractal_dimension_mean,1138.0,6.279761e-02,7.057257e-03,0.04996,0.05770,0.06154,0.06612,9.744000e-02

In [96]:
rof = df.iloc[:, 3:]
rof.head()

,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
0,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.2419,0.07871
1,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.1812,0.05667
2,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.2069,0.05999
3,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.2597,0.09744
4,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.1809,0.05883

In [97]:
statistics = rof.describe().T #getting te mean an sd ofthe data
mu = statistics['mean']
sigma = statistics['std']

In [98]:
normalizing = (rof - mu)/sigma

In [99]:
normalizing.head()

,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
0,-2.072424,1.269376,0.983942,1.567777,3.282072,2.651708,2.216540,2.254756
1,-0.353477,1.685214,1.907869,-0.826599,-0.486858,-0.023835,0.001392,-0.868271
2,0.455986,1.565815,1.558199,0.941796,1.052463,1.362879,0.939272,-0.397833
3,0.253621,-0.592427,-0.764128,3.282110,3.401414,1.915055,2.866123,4.908761
4,-1.151310,1.775792,1.825427,0.280249,0.539103,1.370409,-0.009556,-0.562203